.alert {
  display: flex;
  justify-content: space-between;
  background: #ff0033;
  padding: var(--baseSizingUnit);
  margin-top: var(--baseSizingUnit);
  border-radius: var(--bigBorderRadius);
  border: 1px solid rgba(0, 0 , 0, 0.3);
}

.alertMessage {
  color: #ffffff;
}

.closeButton {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.closeIcon {
  width: 8px;
  height: 8px;
}
