.appHeader {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: var(--headerHeight);
  background-color: #ffffff;
  box-shadow: var(--defaultBoxShadow);
}

.inputWrapper {
  position: relative;
}

.inputWrapper::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 10px;
  height: 15px;
  width: 15px;
  background: url("search.svg");
}

.input {
  border-radius: var(--smallBorderRadius);
  border: none;
  background-color: #F0F3F4;
  padding: 10px 10px 10px 32px;
  margin-right: var(--baseSizingUnit);
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
}

.input::placeholder {
  color: #9E9E9E;
}

.button {
  background-color: #452CDC;
  border-radius: var(--smallBorderRadius);
  padding: 12px;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}
