* {
  box-sizing: border-box;
}

body {
  /* Variable declarations */
  --smallBorderRadius: 8px;
  --bigBorderRadius: 12px;
  --defaultBoxShadow: 0px 2px 7px rgba(0, 0, 0, 0.1);
  --maxWidth: 1366px;
  --baseSizingUnit: 16px;
  --headerHeight: 84px;
  --defaultFontFamily: 'Roboto', sans-serif;
  --smallFontSize: 12px;
  --normalFontSize: 14px;
  --largeFontSize: 16px;
  --headingFontSize: 18px;
  margin: 0;
  font-family: var(--defaultFontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
